*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Gupta; */
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: Devanshu;
    src: url("asset/SanFranciscoDisplay-Regular.otf") format("opentype");
}
@font-face {
    font-family: Gupta;
    src: url("asset/SF-Pro-Display-Bold.otf");
}

.container1{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:#101010; */
    background-image: url("asset/wp10224237-windows-11-se-wallpapers.jpg");
    background-size:cover;
    background-position: center;
    overflow: hidden;
}
.navbar{
    position: fixed;
    bottom: 0px;
    z-index: 100000;
    height: 50px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.windowlogo>img{
    height: 30px;
    width: 30px;
}
.windowlogo:hover{
    background-color: rgba(255, 255, 255, 0.236);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}
.windowlogo{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Searchlogo img{
    height: 20px;
    width: 20px;
    margin-left: 4px;
}
.Searchnav{
    display: flex;
    align-items: center;

}
.Searchnav>input{
    padding: 7px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    width: 200px;
    background-color:#3F3F3F;
}
.Searchlogo{
    height:30px;
    display: flex;
    align-items: center;
    background-color:#3F3F3F;
    border-radius: 20px 0px 0px 20px;
}
.container2{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top:20px;
    gap: 20px;

}
.thispc img{
    width: 60px;
    height: 60px;
}
.thispc p{
    text-align: center;
    color: white;
    font-size: 12px;
}
.app1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}
.app2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.terminal{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.terminal p{
    color: white;
    font-size: 12px;
    text-align: center;
}
.photo{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photo p{
    color: white;
    font-size: 12px;
    text-align: center;
}
.photo:hover{
    background-color: rgba(255, 255, 255, 0.259);
    backdrop-filter: blur(10px);
    border-radius: 3px;
}
.thispc{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.terminal:hover{
    background-color: rgba(255, 255, 255, 0.259);
    backdrop-filter: blur(10px);
    border-radius: 3px;
}
.thispc:hover{
    background-color: rgba(255, 255, 255, 0.259);
    backdrop-filter: blur(10px);
    border-radius: 3px;
}
.imggithub{
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 3px;
}
.windowbar{
    height: 80%;
    width: 40%;
    background-color: #242d3be3;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top:2000px;
    z-index: 100000;
    transition-duration:0.5s;
    transition-timing-function: ease-in-out;

}
#windowinput{
    width: 90%;
    padding:5px 0px;
    border-radius: 20px;
    height: 30px;
    background-color: #212830;
    border: none;
    color: white;
    outline: none;
    text-align: center;
}
.pinned{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pinned p:nth-child(1){
    color: white;
    font-size: 15px;
}
.pinned p:nth-child(2){
    color: white;
    padding: 5px;
    background-color: #242d3b;
    font-size: 15px;
    border-radius: 5px;
    width: 50px;
    text-align: center;
}
.appinwin{
    width: 90%;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    color: white;
    font-size: 12px;
    text-align: center;
}
.pinned1 p:nth-child(2){
    text-align:center;
    width: 60px;
}
.recomm{
    display: flex;
    width: 90%;
    color: white;
    font-size: 12px;
    justify-content: space-between;
}
.recomm2{
    display: flex;
    width: 40%;
}
.folder{
    width: 80%;
    display: flex;
    gap: 20px;
    
}
.DevanshuG{
    display: flex;
    flex-direction: column;
}
.folder img{
    width: 40px;
    height: 40px;
}
.recomm1{
    display: flex;
    width: 40%;
}
.file{
    width: 80%;
    display: flex;
    gap: 20px;
    
}
.resume{
    display: flex;
    flex-direction: column;
}
.file img{
    width: 40px;
    height: 40px;
}
.lastname{
    position: absolute;
    bottom: 0px;
    height: 10%;
    background-color:#242d3b;
    z-index: 100;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.account{
    margin-left: 30px;
    display: flex;
    text-align: center;
    height: 100%;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.account img{
    width: 40px;
    height: 40px;
}
#switchoff1{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
.appwindow:hover{
    background-color: rgba(255, 255, 255, 0.259);
    backdrop-filter: blur(10px);
    border-radius: 3px;
}
#Search12{
     outline: none;
     color: white;
}
#chrome12{
    margin-top: 5px;
}
.windowstart{
    position: absolute;
    top:0px;
    background-color:#000000;
    z-index: 1000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    transition-duration:0.75s;
}

.windowlogo1{
    display: flex;
    gap: 3px;
}
.windowlogo2{
    display: flex;
    gap: 3px;
}
.windowlogo3{
    height: 50px;
    width: 50px;
    background-color: #0D85D3;
}
.circle{
    margin-top: 150px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1rem solid #000;
    border-top: 7px solid white;
    border-left: 7px solid white;
    animation: loader 1.5s linear infinite;
  }
  @keyframes loader {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .weathertele{
    height: 75vh;
    width: 40vw;
    background-color:rgba(255, 255, 255, 0.244);
    backdrop-filter: blur(10px);
    z-index: 1000;
    position: absolute;
    left: -2000px;
    top: 100px;
    border-radius: 10px;
    transition-duration:0.5s;
  }
  .searchleave{
    display: flex;
    gap: 10px;
  }
  #wifi{
    height: 17px;
    width: 17px;
  }
  .navtool{
    display: flex;
    gap: 5px;
    position: absolute;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  .navtool:hover{
    background-color: #434343d8;
  }
  #smallwindow9{
    display: none;
    width: 40%;
    height: 60%;
    background-color: #212121;
    border-radius: 8px;
    z-index: 100;
    position: absolute;
    top: 100px;
    overflow:hidden ;
    transition-duration: 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}
#windowthreebutton9{
    height: 35px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

#windowthree9{
    display:flex;
    flex-direction: row-reverse;
    height: 100%;
    align-items: center;
}
.button9 {
    width: 40px;
    height: 35px;
    margin-left: -5px;
    border: 0;
    outline: 0;
    background: transparent;
    transition: 0.2s;
  }
  
  .button9 svg path, 
  .button9 svg rect, 
  .button9 svg polygon {
    fill: #ffffff;
  }
  
  .button9 svg {
    width: 10px;
    height: 10px;
  }
  
  #close9:hover {
    background-color:#E81123;
  }
  
  #maximize9:hover {
    background-color: #ffffff10;
  }
  
  #minimize9:hover {
    background-color: #ffffff10;
  }
#close9{
    border-radius: 0px 8px 0px 0px;
}
.googlechrome2{
  height: 91%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#googlelogo{
  height: 15%;
}
#googlesearch{
  height: 10%;
  width: 70%;
  border-radius: 20px;
  padding-left:10px;
  outline: none;
}
.buttongoogle{
  display: flex;
  gap: 10px;
}
.buttongoogle>button{
  padding: 5px;
  border-radius: 3px;
}
